html,
body {
  padding: 0;
  margin: 0;
  font-family: "sofia-pro", "Helvetica Neue", Helvetica, Arial, "Lucida Grande",
    sans-serif;
}

a {
  color: #bc343a;
  text-decoration: none;
}

p {
  margin-top: 0;
}

* {
  box-sizing: border-box;
}
